{% load i18n %}{% autoescape off %}
{% blocktrans %}Someone (hopefully you!) requested a link to reset your password at "Hyman Family Recipes".{% endblocktrans %}

{% trans "If it was you who requested the password reset, please use this link to get started:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'As a friendly reminder, here is your username:' %} {{ user.get_username }}

{% trans "All the best," %}

{% blocktrans %}The good folks at "Hyman Family Recipes"{% endblocktrans %}

{% endautoescape %}